login100-form-btn{
    background:-webkit-linear-gradient(right, #00dbde, #fc00ff) !important;
}

login100-form-btn:hover{
    background:-webkit-linear-gradient(right, #fc00ff, #00dbde) !important;
}
    