<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="card">
                    <div class="card-header container-fluid">
                        <div class="row">
                            <div class="col-md-10">
                                <h4>Calendar</h4>
                            </div>
                            <div class="col-md-2">
                                <div class="collapse navbar-collapse" id="navbar-collapse">
                                    <ul class="nav navbar-nav navbar-right">
                                        <li class="dropdown user_profile">
                                            <a href="#" onClick="return false;" data-toggle="dropdown" role="button" class="pt-0">
                                                <img src="assets/images/avatar2.png" class="rounded-circle" width="32" height="32" alt="User">
                                            </a>
                                            <ul class="dropdown-menu pullDown">
                                                <li>
                                                    <ul class="user_dw_menu">
                                                        <li>
                                                            <a routerLink="/authentication/signin" (click)="onLogout()">
                                                                <mat-icon aria-hidden="false" class="mr-2 ">power_settings_new
                                                                </mat-icon>Logout
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2 col-sm-12 p-l-30">
                                <div class="m-b-25">
                                    <button mat-raised-button color="primary" (click)="addNewEvent()">Add Event</button>
                                </div>
                                <h5>My Calendars</h5>
                                <div class="filter-container">
                                    <mat-radio-group aria-labelledby="example-radio-group-label"
                                        class="example-radio-group">
                                        <mat-radio-button class="example-radio-button ml-0 filter"
                                            *ngFor="let filter of filters" [value]="filter.name"
                                            [checked]="filter.checked ==='true'" (change)="changeCategory($event)">
                                            {{filter.value}}
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                            <div class="col-md-10 col-sm-12">
                                <div class="panel-body">
                                    <full-calendar #calendar defaultView="dayGridMonth" [header]="{
                                        left: 'prev,next today',
                                        center: 'title',
                                        right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'  
                                      }" [plugins]="calendarPlugins" [weekends]="calendarWeekends"
                                        (eventRender)="handleEventRender($event)" (eventClick)="eventClick($event)"
                                        [events]="calendarEvents" >
                                    </full-calendar>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>